@import "tailwindcss";

@layer components {
    @keyframes marqueeScroll {
        0% {
            transform: translateX(0%);
        }
        100% {
            transform: translateX(-50%);
        }
    }
}

@layer base {
    button {
        cursor: pointer;
    }
}

.no-scrollbar::-webkit-scrollbar {
    display: none;
}

body {
    overflow-x: hidden;
   background-color: #fffdf4;

}

h1,h2,h3,h4,h5,h6 {
    font-family: var(--font-alzal) ;
}